.slide,
.slide .s-lst li {
	width: 200px;
	height: 244px
}

.m-alert-ad .u-alert-pic img,
.m-fn-spc .more h4 i {
	vertical-align: middle
}

.slide {
	position: relative;
	overflow: hidden;
	z-index: 1
}

.slide .s-ctr,
.slide .s-pg a {
	position: absolute;
	text-align: center
}

.slide .s-lst li {
	float: left
}

.slide .s-lst li a {
	display: block;
	overflow: hidden
}

.slide .s-ctr {
	width: 100%;
	height: 10px;
	line-height: 10px;
	left: 0;
	bottom: 10px;
	font-size: 0;
	z-index: 3
}

.slide .s-ctr li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 10px;
	height: 10px;
	background: #ccc;
	margin-right: 5px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	cursor: pointer
}

.slide .s-ctr li.z-select {
	background: #C20053
}

.slide .s-pg a {
	display: block;
	width: 28px;
	height: 62px;
	line-height: 62px;
	background: #000;
	opacity: .2;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-top: -31px;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	font-family: SimSun;
	filter: alpha(opacity=20);
	-webkit-transition: opacity .2s linear 0s;
	transition: opacity .2s linear 0s
}

.slide .s-pg a.s-prev {
	margin-left: -500px
}

.slide .s-pg a.s-next {
	margin-left: 472px
}

.s-pg a:hover {
	opacity: .4;
	filter: alpha(opacity=40)
}

.m-fn-main {
	width: 100%;
	height: 454px;
	min-width: 1190px;
	position: relative;
	overflow: hidden
}

.m-gl-sale,
.m-gr-sale {
	width: 100px;
	height: 454px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2
}

.m-gl-sale a,
.m-gr-sale a {
	display: block
}

.m-gl-sale {
	margin-left: -695px
}

.m-gr-sale {
	margin-left: 595px
}

.u-fn-slide,
.u-fn-slide .s-lst li {
	width: 100%;
	height: 454px
}

.u-fn-slide .s-lst li a {
	width: 1190px;
	height: 454px;
	margin: 0 auto
}

.u-fn-slide .s-lst li a img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 800px;
	height: 454px;
	margin-left: 190px
}

.u-fn-slide .s-ctr {
	height: 20px;
	line-height: 20px;
	bottom: 9px
}

.u-fn-slide .s-ctr li {
	width: 19px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: Tahoma;
	margin-right: 10px;
	background: url(../../images/index/fn_index.png?144220910272756) 0 -141px no-repeat
}

.u-fn-slide .s-ctr li.z-select {
	background: url(../../images/index/fn_index.png?144220910272756) -21px -141px no-repeat
}

.u-fn-slide .s-pg a.s-next {
	margin-left: 357px
}

.u-fn-slide .s-pg a.s-prev {
	margin-left: -395px
}

.u-fn-bar {
	width: 200px;
	height: 434px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: 395px;
	background-color: #f9f9f9;
	opacity: .95;
	filter: alpha(opacity=95);
	z-index: 1
}

.u-fn-bar .md-at {
	width: 200px;
	height: 87px
}

.u-fn-bar .md-at li {
	float: left;
	width: 60px;
	height: 77px;
	padding: 10px 0 0 5px
}

.u-fn-bar .md-at a {
	width: 60px;
	text-align: center;
	display: block;
	overflow: hidden
}

.u-fn-bar .md-at a img {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 50px;
	height: 50px
}

.u-fn-bar .md-at a span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #666;
	line-height: 23px
}

.u-fn-bar .md-at a:hover span {
	color: #C20053
}

.u-fn-bar .md-notice {
	width: 190px;
	height: 44px;
	padding: 7px 0 7px 10px;
	border-top: 1px dotted #ddd;
	overflow: hidden
}

.u-fn-bar .md-notice li {
	width: 190px;
	overflow: hidden;
	height: 22px;
	line-height: 22px
}

.u-fn-bar .md-notice li a {
	height: 21px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #666;
	line-height: 21px
}

.u-fn-bar .md-notice li a:hover {
	color: #C20053;
	text-decoration: underline
}

.u-fn-bar .md-notice li a.z-h-c {
	color: #C20053
}

.u-fn-bar .md-ad {
	width: 200px;
	height: 114px;
	overflow: hidden
}

.u-fn-bar .md-ad a {
	display: block
}

.u-fn-recharge {
	width: 200px;
	height: 173px;
	border-top: 1px dotted #ddd
}

.u-fn-recharge .rge-item {
	width: 200px;
	height: 28px;
	margin-top: -1px
}

.u-fn-recharge .rge-item li {
	float: left;
	width: 99px;
	height: 27px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd
}

.u-fn-recharge .rge-item li:first-child {
	border-left: 0 none
}

.u-fn-recharge .rge-item li a {
	display: block;
	height: 27px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #333;
	font-family: "Microsoft YaHei"
}

.u-fn-recharge .rge-item li.z-select {
	height: 26px;
	border-top: 2px solid #C20053;
	border-bottom: 0 none
}

.u-fn-recharge .rge-item li.z-select a {
	color: #C20053;
	line-height: 24px
}

.u-fn-recharge .rge-cont {
	width: 200px;
	height: 145px
}

.u-fn-recharge .rge-panel {
	width: 180px;
	padding: 10px 10px 0
}

.u-fn-recharge .rge-money,
.u-fn-recharge .rge-num {
	width: 178px;
	height: 24px;
	border: 1px solid #dedede;
	background: #fff;
	position: relative;
	font-size: 12px;
	font-family: "Microsoft YaHei"
}

.u-fn-recharge .rge-money .ipt,
.u-fn-recharge .rge-num .ipt {
	width: 150px;
	height: 13px;
	padding: 5px 0 5px 5px;
	line-height: 14px;
	color: #333;
	border: 0;
	font-family: "Microsoft YaHei";
	background: #fff
}

.u-fn-recharge .rge-money .num-lst,
.u-fn-recharge .rge-num .num-lst {
	width: 178px;
	max-height: 130px;
	position: absolute;
	top: 24px;
	left: -1px;
	border: 1px solid #aaa;
	z-index: 2;
	display: none
}

.u-fn-recharge .rge-money .num-lst a,
.u-fn-recharge .rge-num .num-lst a {
	display: block;
	padding-left: 11px;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	color: #666;
	font-family: "Microsoft YaHei";
	background: #fff
}

.u-fn-recharge .rge-money .num-lst a:hover,
.u-fn-recharge .rge-num .num-lst a:hover {
	background: #FFECE5;
	color: #C20053
}

.u-fn-recharge .rge-num {
	z-index: 2
}

.u-fn-recharge .rge-num .tip {
	color: #ccc;
	position: absolute;
	top: 4px;
	left: 5px;
	cursor: text
}

.u-fn-recharge .rge-num .adress {
	width: 61px;
	height: 18px;
	overflow: hidden;
	padding-left: 12px;
	color: #999;
	position: absolute;
	top: 3px;
	left: 86px;
	background: #fff;
	display: none
}

.u-fn-recharge .rge-num .adress i {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../../images/index/fn_index.png?144220910272756) -17px -162px no-repeat
}

.u-fn-recharge .rge-num .icon {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url(../../images/index/fn_index.png?144220910272756) 0 -162px no-repeat;
	cursor: pointer
}

.u-fn-recharge .rge-num .error {
	width: 168px;
	height: 22px;
	padding-left: 10px;
	border: 1px solid #FFBDBE;
	background: #fff3f3;
	line-height: 22px;
	font-size: 12px;
	color: #C20053;
	position: absolute;
	top: 24px;
	left: -1px;
	z-index: 2;
	zoom: 1;
	display: none
}

.m-fn-spc .m-c-slide,
.m-fn-spc .u-spc-m .item {
	border-right: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4
}

.u-fn-recharge .rge-num .num-lst {
	overflow: hidden
}

.u-fn-recharge .rge-money {
	z-index: 1;
	border-top: 0 none;
	height: 25px
}

.u-fn-recharge .rge-money .ipt {
	cursor: pointer
}

.u-fn-recharge .rge-money .icon {
	display: block;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 8px;
	right: 7px;
	background: url(../../images/index/fn_index.png?144220910272756) -29px -162px no-repeat;
	cursor: pointer
}

.u-fn-recharge .rge-money i.up {
	background: url(../../images/index/fn_index.png?144220910272756) -38px -162px no-repeat
}

.u-fn-recharge .rge-money .num-lst {
	overflow: hidden;
	overflow-y: auto
}

.u-fn-recharge .rge-price,
.u-fn-recharge .rge-tip {
	width: 180px;
	height: 18px;
	font-size: 12px;
	font-family: "Microsoft YaHei"
}

.u-fn-recharge .rge-price p,
.u-fn-recharge .rge-tip p {
	height: 18px;
	line-height: 18px
}

.u-fn-recharge .rge-price {
	margin-top: 6px
}

.u-fn-recharge .rge-price .price {
	color: #666;
	display: none
}

.u-fn-recharge .rge-price .price span {
	color: #C70034
}

.u-fn-recharge .rge-tip .tip {
	color: #C20053;
	display: none
}

.m-five-part .u-part-cont img,
.m-more-part .u-part-cont img,
.m-six-part .u-part-cont img,
.m-three-part .u-part-cont img,
.u-rmd-pic a {
	display: block
}

.u-fn-recharge .rge-btn {
	width: 180px;
	height: 28px;
	margin-top: 3px
}

.u-fn-recharge .rge-btn .btn {
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-family: "Microsoft YaHei";
	background: #C70034
}

.u-fn-recharge .rge-btn .btn:hover {
	background: #D40034
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0)
	}
	100%,
	25%,
	50%,
	75% {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0)
	}
	100%,
	25%,
	50%,
	75% {
		-moz-transform: rotate(360deg)
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}
	100%,
	25%,
	50%,
	75% {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes tick-tock {
	to {
		-webkit-transform: rotate(360deg) translate3d(0, 0, 0)
	}
}

@-moz-keyframes tick-tock {
	to {
		-moz-transform: rotate(360deg) translate3d(0, 0, 0)
	}
}

@keyframes tick-tock {
	to {
		transform: rotate(360deg) translate3d(0, 0, 0)
	}
}

.m-fn-rmd {
	width: 1190px;
	height: 155px;
	position: relative;
	z-index: 1;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.u-rmd-pic {
	width: 190px;
	height: 155px;
	line-height: 155px;
	text-align: center;
	position: relative;
	z-index: 2
}

.u-rmd-slide {
	width: 1000px;
	height: 155px;
	background-color: #fff
}

.u-rmd-slide .s-lst li {
	width: 1000px;
	height: 155px;
	margin-left: -1px
}

.u-rmd-slide .s-lst li a {
	float: left;
	width: 249px;
	height: 155px;
	margin-left: 1px
}

.m-five-part,
.m-three-part {
	width: 1190px;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.m-five-part .tt,
.m-three-part .tt {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	color: #2976FA;
	font-weight: 700;
	font-family: "Microsoft YaHei"
}

.m-five-part .u-part-cont,
.m-three-part .u-part-cont {
	width: 1190px;
	margin-top: 13px;
	background-color: #fff;
	overflow: hidden
}

.m-five-part .u-part-cont .ad,
.m-three-part .u-part-cont .ad {
	float: left
}

.m-five-part .u-part-cont .ad:first-child,
.m-three-part .u-part-cont .ad:first-child {
	margin-left: 0
}

.m-five-part {
	height: 321px
}

.m-five-part .u-part-cont .ad {
	width: 226px;
	height: 268px;
	margin-left: 15px
}

.m-three-part {
	height: 287px
}

.m-three-part .u-part-cont .ad {
	width: 386px;
	height: 234px;
	margin-left: 16px
}

.m-more-part,
.m-six-part {
	width: 1190px;
	overflow: hidden;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.m-more-part .tt,
.m-six-part .tt {
	height: 74px
}

.m-more-part .u-part-cont,
.m-six-part .u-part-cont {
	width: 1200px;
	background-color: #fff
}

.m-more-part .u-part-cont .ad,
.m-six-part .u-part-cont .ad {
	float: left;
	margin: 0 10px 10px 0
}

.m-more-part .u-part-cont {
	height: 440px
}

.m-six-part {
	height: 544px
}

.m-six-part .u-part-cont {
	height: 480px
}

.m-fn-spc {
	width: 1190px;
	height: 460px;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.m-fn-spc h3 {
	height: 30px;
	line-height: 21px;
	font-size: 20px;
	color: #666
}

.m-fn-spc h3 img {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.m-fn-spc .u-spc-m {
	width: 1190px;
	height: 429px;
	border-top: 1px solid #F4F4F4;
	background-color: #fff
}

.m-fn-spc .u-spc-m .item {
	float: left;
	display: block
}

.m-fn-spc .m-l {
	width: 190px;
	height: 430px
}

.m-fn-spc .m-l .item {
	width: 189px;
	height: 429px;
	position: relative
}

.m-fn-spc .m-l .item:before {
	content: "";
	position: absolute;
	width: 60px;
	height: 430px;
	top: 0;
	left: -150px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}

.m-fn-spc .m-l .item:hover::before {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
	left: 260px
}

.m-fn-spc .m-c {
	width: 400px;
	height: 430px
}

.m-fn-spc .m-c-slide,
.m-fn-spc .m-c-slide .s-lst li,
.m-fn-spc .m-c-slide .s-lst li a {
	width: 399px;
	height: 239px
}

.m-fn-spc .m-c-slide .s-ctr li {
	margin-right: 10px
}

.m-fn-spc .m-c-slide .s-pg a.s-prev {
	margin-left: -199px
}

.m-fn-spc .m-c-slide .s-pg a.s-next {
	margin-left: 172px
}

.m-fn-spc .m-r {
	width: 600px;
	height: 430px
}

.m-fn-spc .u-spc-m .t {
	width: 199px;
	height: 239px
}

.m-fn-spc .u-spc-m .b {
	width: 199px;
	height: 189px
}

.m-fn-spc .more h4 {
	font-size: 16px;
	color: #000;
	height: 22px;
	line-height: 22px;
	text-align: center;
	position: relative;
	margin: 15px 0 13px
}

.m-fn-spc .more h4 i {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 28px;
	height: 1px
}

.m-fn-spc .more h4 i.l {
	background: url(../../images/index/fn_index.png?144220910272756) -154px -121px no-repeat
}

.m-fn-spc .more h4 i.r {
	background: url(../../images/index/fn_index.png?144220910272756) -124px -121px no-repeat
}

.m-fn-spc .more .link li {
	float: left;
	overflow: hidden;
	width: 80px;
	height: 30px;
	padding-left: 19px
}

.m-fn-spc .more .link a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	width: 80px;
	height: 30px;
	overflow: hidden
}

.m-fn-spc .more .link a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-fn-spc .more .link a.z-h-c {
	color: #C20053
}

.m-fn-floor,
.m-h-floor,
.m-w-floor {
	width: 1190px;
	margin: 25px auto 0;
	position: relative;
	z-index: 1;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.m-fn-floor .u-t,
.m-h-floor .u-t,
.m-w-floor .u-t {
	width: 1190px;
	height: 35px;
	border-bottom: 1px solid #C20053;
	position: relative
}

.m-fn-floor h3,
.m-h-floor h3,
.m-w-floor h3 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 20px;
	line-height: 30px;
	color: #666;
	font-family: "Microsoft YaHei";
	padding-left: 40px;
	position: relative
}

.m-fn-floor h3 i,
.m-h-floor h3 i,
.m-w-floor h3 i {
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 30px;
	height: 25px;
	line-height: 21px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
	position: absolute;
	top: 5px;
	left: 0;
	background: url(../../images/index/fn_index.png?144220910272756) -124px -94px no-repeat
}

.m-fn-floor .f-tab,
.m-h-floor .f-tab,
.m-w-floor .f-tab {
	height: 34px;
	line-height: 34px;
	border: 1px solid #E9E9E9;
	border-bottom: none
}

.m-fn-floor .f-tab li,
.m-h-floor .f-tab li,
.m-w-floor .f-tab li {
	float: left;
	width: 120px;
	height: 35px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative
}

.m-fn-floor .f-tab a,
.m-h-floor .f-tab a,
.m-w-floor .f-tab a {
	width: 118px;
	font-size: 12px;
	color: #666;
	font-family: "Microsoft YaHei";
	height: 33px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #fff;
	border-bottom: none;
	background-color: #fff;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.m-fn-floor .f-tab span,
.m-h-floor .f-tab span,
.m-w-floor .f-tab span {
	width: 1px;
	height: 16px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #E9E9E9;
	position: absolute;
	right: 0;
	top: 10px
}

.m-fn-floor .f-tab li:last-child span,
.m-h-floor .f-tab li:last-child span,
.m-w-floor .f-tab li:last-child span {
	background-color: #fff
}

.m-fn-floor .f-tab li.z-select a,
.m-h-floor .f-tab li.z-select a,
.m-w-floor .f-tab li.z-select a {
	width: 119px;
	height: 35px;
	line-height: 36px;
	border-color: #C20053;
	color: #C20053;
	font-weight: 700;
	position: absolute;
	text-indent: 2px;
	top: -1px;
	left: -1px
}

.m-fn-floor .f-tab li.z-select span,
.m-h-floor .f-tab li.z-select span,
.m-w-floor .f-tab li.z-select span {
	display: none
}

.m-fn-floor .u-c,
.m-h-floor .u-c,
.m-w-floor .u-c {
	width: 1190px
}

.m-fn-floor .w400,
.m-h-floor .w400,
.m-w-floor .w400 {
	width: 400px
}

.m-fn-floor .w200,
.m-h-floor .w200,
.m-w-floor .w200 {
	width: 200px
}

.m-fn-floor .w500,
.m-h-floor .w500,
.m-w-floor .w500 {
	width: 500px
}

.m-fn-floor .w250,
.m-h-floor .w250,
.m-w-floor .w250 {
	width: 250px
}

.m-fn-floor .b-p,
.m-h-floor .b-p,
.m-w-floor .b-p {
	float: left;
	overflow: hidden
}

.m-fn-floor .b-p a.ad,
.m-h-floor .b-p a.ad,
.m-w-floor .b-p a.ad {
	display: block;
	float: left;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	overflow: hidden
}

.m-fn-floor .b-p .prod,
.m-h-floor .b-p .prod,
.m-w-floor .b-p .prod {
	width: 160px;
	height: 233px;
	padding: 10px 19px 0 20px;
	float: left;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	overflow: hidden
}

.m-fn-floor .b-p .p-i,
.m-h-floor .b-p .p-i,
.m-w-floor .b-p .p-i {
	width: 160px;
	height: 160px
}

.m-fn-floor .b-p .p-i a,
.m-h-floor .b-p .p-i a,
.m-w-floor .b-p .p-i a {
	display: block
}

.m-fn-floor .b-p .p-n,
.m-h-floor .b-p .p-n,
.m-w-floor .b-p .p-n {
	width: 160px;
	height: 36px;
	line-height: 18px;
	margin-top: 7px
}

.m-fn-floor .b-p .p-n a,
.m-h-floor .b-p .p-n a,
.m-w-floor .b-p .p-n a {
	width: 160px;
	height: 36px;
	line-height: 18px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #666;
	font-family: "Microsoft YaHei"
}

.m-fn-floor .b-p .p-n a:hover,
.m-h-floor .b-p .p-n a:hover,
.m-w-floor .b-p .p-n a:hover {
	color: #C20053
}

.m-fn-floor .u-price,
.m-h-floor .u-price,
.m-w-floor .u-price {
	margin-top: 3px;
	height: 18px;
	line-height: 18px;
	overflow: hidden
}

.m-fn-floor .u-price span,
.m-h-floor .u-price span,
.m-w-floor .u-price span {
	font-size: 12px;
	color: #C70034;
	font-family: "Microsoft YaHei"
}

.m-fn-floor .u-price .s-p span,
.m-h-floor .u-price .s-p span,
.m-w-floor .u-price .s-p span {
	font-size: 16px;
	color: #C70034;
	font-weight: 700
}

.m-fn-floor .u-price .s-p span:first-child,
.m-h-floor .u-price .s-p span:first-child,
.m-w-floor .u-price .s-p span:first-child {
	font-size: 12px
}

.m-fn-floor .u-price .o-p span,
.m-h-floor .u-price .o-p span,
.m-w-floor .u-price .o-p span {
	color: #999;
	text-decoration: line-through
}

.m-fn-floor .slide,
.m-h-floor .slide,
.m-w-floor .slide {
	float: left;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9
}

.m-fn-floor .slide .s-ctr,
.m-h-floor .slide .s-ctr,
.m-w-floor .slide .s-ctr {
	bottom: 15px
}

.m-fn-floor .slide .s-ctr li,
.m-h-floor .slide .s-ctr li,
.m-w-floor .slide .s-ctr li {
	margin-right: 10px
}

.m-fn-floor .slide .s-pg a.s-prev,
.m-h-floor .slide .s-pg a.s-prev,
.m-w-floor .slide .s-pg a.s-prev {
	margin-left: -199px
}

.m-fn-floor .slide .s-pg a.s-next,
.m-h-floor .slide .s-pg a.s-next,
.m-w-floor .slide .s-pg a.s-next {
	margin-left: 172px
}

.m-fn-floor .u-slide-244,
.m-fn-floor .u-slide-244 .s-lst li,
.m-fn-floor .u-slide-244 .s-lst li a,
.m-h-floor .u-slide-244,
.m-h-floor .u-slide-244 .s-lst li,
.m-h-floor .u-slide-244 .s-lst li a,
.m-w-floor .u-slide-244,
.m-w-floor .u-slide-244 .s-lst li,
.m-w-floor .u-slide-244 .s-lst li a {
	width: 399px;
	height: 243px
}

.m-fn-floor .u-slide-170,
.m-fn-floor .u-slide-170 .s-lst li,
.m-fn-floor .u-slide-170 .s-lst li a,
.m-h-floor .u-slide-170,
.m-h-floor .u-slide-170 .s-lst li,
.m-h-floor .u-slide-170 .s-lst li a,
.m-w-floor .u-slide-170,
.m-w-floor .u-slide-170 .s-lst li,
.m-w-floor .u-slide-170 .s-lst li a {
	width: 399px;
	height: 169px
}

.m-fn-floor .u-slide-318,
.m-fn-floor .u-slide-318 .s-lst li,
.m-fn-floor .u-slide-318 .s-lst li a,
.m-h-floor .u-slide-318,
.m-h-floor .u-slide-318 .s-lst li,
.m-h-floor .u-slide-318 .s-lst li a,
.m-w-floor .u-slide-318,
.m-w-floor .u-slide-318 .s-lst li,
.m-w-floor .u-slide-318 .s-lst li a {
	width: 399px;
	height: 317px
}

.m-fn-floor {
	height: 524px
}

.m-fn-floor .f-s {
	width: 190px;
	height: 488px;
	background-color: #fff;
	position: relative
}

.m-fn-floor .f-s .nav {
	width: 190px;
	height: 244px;
	margin-top: -244px;
	position: relative
}

.m-fn-floor .f-s .words {
	width: 170px;
	height: 173px;
	padding: 9px 10px 0;
	font-size: 0;
	position: relative;
	background: rgba(255, 255, 255, .7);
	overflow: hidden
}

.m-fn-floor .f-s .words a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #666;
	font-size: 12px;
	margin: 0 7px;
	line-height: 27px;
	max-width: 60px;
	overflow: hidden;
	white-space: nowrap
}

.m-fn-floor .f-s .sale a,
.m-h-floor .f-s .words a,
.m-w-floor .f-s .words a {
	margin: 0 10px;
	white-space: nowrap;
	font-size: 12px;
	overflow: hidden;
	float: left
}

.m-fn-floor .f-s .words a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-fn-floor .f-s .words a.z-h-c {
	color: #C20053
}

.m-fn-floor .f-s .sale {
	width: 170px;
	height: 46px;
	padding: 8px 10px;
	background: rgba(255, 255, 255, .5);
	overflow: hidden;
	position: relative
}

.m-fn-floor .f-s .sale a {
	color: #666;
	line-height: 23px;
	width: 150px
}

.m-fn-floor .f-s .sale a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-fn-floor .f-s .ad {
	width: 190px;
	height: 488px;
	display: block
}

.m-fn-floor .f-s .ad:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 350px;
	top: 0;
	left: -150px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .3)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}

.m-fn-floor .f-s .ad:hover::before {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
	left: 420px
}

.m-fn-floor .f-m {
	width: 1000px;
	height: 488px;
	background-color: #fff
}

.m-fn-floor .b {
	width: 1000px;
	height: 488px;
	position: relative;
	overflow: hidden
}

.m-fn-floor .b-p {
	height: 488px
}

.m-h-floor .f-s,
.m-w-floor .f-s {
	width: 390px;
	background-color: #fff;
	font-family: "microsoft yahei";
	position: relative
}

.m-h-floor .f-s .ad,
.m-w-floor .f-s .ad {
	display: block;
	width: 390px;
	height: 488px;
	position: relative
}

.m-h-floor .f-s .ad:before,
.m-w-floor .f-s .ad:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 350px;
	top: 0;
	left: -150px;
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .3)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}

.m-h-floor .f-s .ad:hover::before,
.m-w-floor .f-s .ad:hover::before {
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	transition: left 1s;
	left: 420px
}

.m-h-floor .f-s .words,
.m-w-floor .f-s .words {
	width: 390px;
	height: 113px;
	position: relative;
	background: rgba(255, 255, 255, .7);
	overflow: hidden
}

.m-h-floor .f-s .words .lst,
.m-w-floor .f-s .words .lst {
	float: left;
	width: 175px;
	height: 100px;
	padding: 7px 0 0 15px;
	overflow: hidden
}

.m-h-floor .f-s .words a,
.m-w-floor .f-s .words a {
	display: block;
	color: #666;
	line-height: 25px;
	max-width: 60px
}

.m-h-floor .f-s .words a:hover,
.m-w-floor .f-s .words a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-h-floor .f-s .words a.z-h-c,
.m-w-floor .f-s .words a.z-h-c {
	color: #C20053
}

.m-h-floor .f-s .sales,
.m-w-floor .f-s .sales {
	width: 350px;
	height: 48px;
	padding: 9px 15px 8px 25px;
	margin-top: -244px;
	background: rgba(255, 255, 255, .5);
	overflow: hidden;
	position: relative
}

.m-h-floor .f-s .sales li,
.m-w-floor .f-s .sales li {
	width: 350px;
	height: 24px;
	line-height: 24px;
	overflow: hidden
}

.m-h-floor .f-s .sales a,
.m-w-floor .f-s .sales a {
	font-size: 12px;
	color: #666
}

.m-h-floor .f-s .sales a:hover,
.m-w-floor .f-s .sales a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-h-floor .f-s .assists,
.m-w-floor .f-s .assists {
	position: relative;
	width: 390px;
	height: 48px;
	padding: 18px 0 0;
	overflow: hidden;
	background: rgba(255, 255, 255, .7)
}

.m-h-floor .f-s .assists .item,
.m-w-floor .f-s .assists .item {
	float: left;
	width: 165px;
	height: 24px;
	line-height: 24px;
	padding-left: 25px;
	overflow: hidden
}

.m-h-floor .f-s .assists a,
.m-w-floor .f-s .assists a {
	font-size: 14px;
	color: #666
}

.m-h-floor .f-s .assists a:hover,
.m-w-floor .f-s .assists a:hover {
	color: #C20053;
	text-decoration: underline
}

.m-h-floor .f-m,
.m-w-floor .f-m {
	width: 800px;
	background-color: #fff
}

.m-h-floor .b,
.m-w-floor .b {
	width: 800px;
	position: relative;
	overflow: hidden
}

.m-w-floor {
	height: 524px
}

.m-w-floor .b,
.m-w-floor .b-p,
.m-w-floor .f-m,
.m-w-floor .f-s {
	height: 488px
}

.m-h-floor {
	height: 768px
}

.m-h-floor .f-s {
	height: 732px
}

.m-h-floor .f-s .s-ad {
	display: block;
	width: 388px;
	height: 243px;
	border: 1px solid #E9E9E9;
	border-top: 0 none;
	position: relative;
	overflow: hidden
}

.m-h-floor .b,
.m-h-floor .b-p,
.m-h-floor .f-m {
	height: 732px
}

.u-flo-cur h3 i {
	background: url(../../images/index/fn_index.png?144220910272756) -156px -94px no-repeat;
	-webkit-animation-name: scaleDisc;
	-moz-animation-name: scaleDisc;
	animation-name: scaleDisc;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s
}

@-webkit-keyframes scaleDisc {
	0% {
		opacity: 0;
		height: 0
	}
	100% {
		opacity: 1;
		height: 25px
	}
}

@-moz-keyframes scaleDisc {
	0% {
		opacity: 0;
		height: 0
	}
	100% {
		opacity: 1;
		height: 25px
	}
}

@keyframes scaleDisc {
	0% {
		opacity: 0;
		height: 0
	}
	100% {
		opacity: 1;
		height: 25px
	}
}

.m-fn-floor .u-bk-rk,
.m-w-floor .u-bk-rk {
	width: 180px;
	height: 477px;
	float: left;
	padding: 10px 9px 0 10px;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9
}

.m-fn-floor .rk-item,
.m-w-floor .rk-item {
	width: 180px;
	height: 30px
}

.m-fn-floor .rk-item li,
.m-w-floor .rk-item li {
	float: left;
	width: 88px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-bottom-color: #e5e5e5
}

.m-fn-floor .rk-item li a,
.m-w-floor .rk-item li a {
	font-size: 12px;
	color: #666;
	display: block
}

.m-fn-floor .rk-item li.z-select,
.m-w-floor .rk-item li.z-select {
	background: #fff;
	border-color: #e5e5e5;
	border-bottom: none
}

.m-fn-floor .rk-item li.z-select a,
.m-w-floor .rk-item li.z-select a {
	color: #C20053
}

.m-fn-floor .rk-main,
.m-w-floor .rk-main {
	width: 180px;
	height: 446px
}

.m-fn-floor .rk-lst,
.m-w-floor .rk-lst {
	width: 180px;
	height: 441px;
	padding-top: 5px
}

.m-fn-floor .rk-lst li,
.m-w-floor .rk-lst li {
	float: left;
	width: 180px;
	height: auto;
	padding: 12px 0;
	cursor: pointer;
	border-bottom: 1px dotted #ddd
}

.m-fn-floor .rk-lst .num,
.m-w-floor .rk-lst .num {
	width: 18px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #666;
	font-weight: 700;
	font-family: Tahoma
}

.m-fn-floor .rk-lst .out .num,
.m-w-floor .rk-lst .out .num {
	float: left;
	margin-right: 5px;
	background: url(../../images/index/fn_index.png?144220910272756) -20px -124px no-repeat
}

.m-fn-floor .rk-lst b,
.m-w-floor .rk-lst b {
	width: 15px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-align: center
}

.m-fn-floor .rk-lst a,
.m-w-floor .rk-lst a {
	float: left;
	font-size: 12px;
	color: #666;
	width: 150px;
	height: 15px;
	line-height: 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.m-fn-floor .rk-lst a:hover,
.m-w-floor .rk-lst a:hover {
	color: #C20053
}

.m-fn-floor .rk-lst .in .i,
.m-w-floor .rk-lst .in .i {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	position: relative
}

.m-fn-floor .rk-lst .in .i a,
.m-w-floor .rk-lst .in .i a {
	display: block;
	width: 50px;
	height: 50px
}

.m-fn-floor .rk-lst .in .num,
.m-w-floor .rk-lst .in .num {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../../images/index/fn_index.png?144220910272756) 0 -124px no-repeat
}

.m-fn-floor .rk-lst .in dd,
.m-w-floor .rk-lst .in dd {
	width: 120px;
	overflow: hidden
}

.m-fn-floor .rk-lst .in .c,
.m-fn-floor .rk-lst .in .n,
.m-w-floor .rk-lst .in .c,
.m-w-floor .rk-lst .in .n {
	height: 15px;
	line-height: 15px
}

.m-fn-floor .rk-lst .in .n a,
.m-w-floor .rk-lst .in .n a {
	width: 120px
}

.m-fn-floor .rk-lst .in .c a,
.m-w-floor .rk-lst .in .c a {
	width: 120px;
	color: #06c
}

.m-fn-floor .rk-lst li .in,
.m-w-floor .rk-lst li .in {
	display: none
}

.m-fn-floor .rk-lst li .out,
.m-fn-floor .rk-lst li.z-select .in,
.m-w-floor .rk-lst li .out,
.m-w-floor .rk-lst li.z-select .in {
	display: block
}

.m-fn-floor .rk-lst li.z-select .out,
.m-w-floor .rk-lst li.z-select .out {
	display: none
}

.m-fn-brand {
	width: 1190px;
	height: 30px;
	padding: 15px 0;
	background-color: #FBFBFB
}

.m-fn-brand ul {
	height: 30px;
	margin-left: -1px
}

.m-fn-brand li {
	float: left;
	width: 118px;
	height: 30px;
	border-left: 1px dotted #ccc;
	text-align: center
}

.u-fn-dt .r li,
.u-fn-dt .u-c .l {
	border-left: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED
}

.m-fn-brand li a,
.m-fn-brand li img {
	width: 100px;
	height: 30px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.m-fn-banner {
	width: 1190px;
	height: 100px
}

.m-fn-banner a {
	display: block;
	float: left
}

.m-fn-hot {
	width: 1190px;
	height: 319px;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.u-fn-dt,
.u-fn-share {
	background-color: #fff
}

.u-fn-dt {
	width: 890px;
	height: 319px
}

.u-fn-dt .u-t,
.u-fn-share .u-t {
	width: 100%;
	height: 36px
}

.u-fn-dt .u-t h3,
.u-fn-share .u-t h3 {
	height: 36px;
	font-size: 20px;
	color: #666;
	line-height: 30px;
	float: left
}

.u-fn-dt .u-t h3 {
	padding-right: 10px
}

.u-fn-dt .u-t img {
	float: left;
	display: block;
	width: 154px;
	height: 15px;
	margin-top: 9px
}

.u-fn-dt .u-c {
	width: 890px;
	height: 279px;
	border-top: 1px solid #E9E9E9
}

.u-fn-dt .u-c .l {
	width: 229px;
	height: 279px
}

.u-fn-dt .l dl {
	width: 179px;
	height: 259px;
	padding: 20px 25px 0
}

.u-fn-dt .l a.ad {
	display: block;
	width: 229px;
	height: 279px
}

.u-fn-dt .l dt {
	width: 180px;
	height: 180px;
	margin-bottom: 7px;
	text-align: center
}

.u-fn-dt .l dt a,
.u-fn-dt .l dt img {
	width: 180px;
	height: 180px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.u-fn-dt .l dd {
	width: 180px;
	height: 18px;
	overflow: hidden
}

.u-fn-dt .l .n a {
	color: #666;
	font-size: 12px
}

.u-fn-dt .l .p {
	margin-top: 6px;
	height: 18px;
	line-height: 18px
}

.u-fn-dt .l .p span,
.u-fn-dt .r .p span {
	font-size: 16px;
	color: #C70034;
	font-weight: 700;
	font-family: "Microsoft YaHei"
}

.u-fn-dt .l .p span:first-child,
.u-fn-dt .r .p span:first-child {
	font-size: 12px
}

.u-fn-dt .r {
	width: 660px;
	overflow: hidden
}

.u-fn-dt .r li {
	float: left;
	width: 219px;
	height: 139px;
	overflow: hidden
}

.u-fn-dt .r a.ad {
	display: block;
	width: 219px;
	height: 139px
}

.u-fn-dt .r dl {
	width: 204px;
	height: 100px;
	padding: 20px 5px 19px 10px
}

.u-fn-dt .r dt {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px
}

.u-fn-dt .r dt a,
.u-fn-dt .r dt img {
	width: 100px;
	height: 100px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.u-fn-dt .r dd {
	float: left;
	width: 94px;
	overflow: hidden
}

.u-fn-dt .r .n {
	height: 36px;
	margin-bottom: 4px
}

.u-fn-dt .r .n a {
	height: 36px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 18px;
	overflow: hidden;
	font-size: 12px;
	color: #666
}

.u-fn-dt .l dl:hover dt img {
	margin-left: -20px
}

.u-fn-dt .r dl:hover dt img {
	margin-left: -10px
}

.u-fn-dt .l dt img,
.u-fn-dt .r dt img {
	-webkit-transition: all .4s ease-out;
	-moz-transition: all .4s ease-out;
	-ms-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out
}

.u-fn-share {
	width: 300px;
	height: 319px
}

.u-fn-share .u-c {
	width: 298px;
	height: 279px;
	border: 1px solid #E9E9E9
}

.u-fn-share .u-s-lst {
	position: relative;
	width: 298px;
	height: 279px
}

.u-s-lst .s-lst li {
	width: 298px;
	height: 140px
}

.u-s-lst .s-lst li a {
	display: block;
	overflow: hidden
}

.m-fn-plink {
	width: 1170px;
	height: 164px;
	border: 1px solid #E9E9E9;
	padding: 10px;
	background: url(../../images/index/feiniu.gif?123456) center center no-repeat
}

.m-fn-plink ul {
	width: 1170px;
	height: 164px;
	background-color: #fff
}

.m-fn-plink li {
	float: left;
	width: 100px;
	height: 164px;
	background: #FBFBFB;
	margin: 0 1px;
	padding: 0 14px;
	text-align: center
}

.m-fn-plink li .n {
	width: 100px;
	height: 18px;
	font-size: 12px;
	font-weight: 700;
	color: #333;
	font-family: SimSun;
	margin-top: 17px;
	text-align: center
}

.m-fn-plink li .p {
	display: block;
	width: 100px;
	height: 100px;
	margin-top: 12px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.m-fn-plink li .p:hover {
	-webkit-transition: -webkit-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	transition: transform 1s linear;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.m-fn-siderbar {
	width: 315px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -280px;
	z-index: 10;
	display: none
}

.u-sdb-b,
.u-sdb-m,
.u-sdb-nav {
	width: 35px;
	position: absolute;
	left: 0
}

.u-sdb-nav {
	height: 100%;
	background-color: #333;
	top: 0
}

.m-fn-siderbar .u-sdb-sale {
	display: none
}

.u-sdb-m {
	height: 307px;
	top: 255px
}

.u-sdb-b {
	height: 80px;
	bottom: 0
}

.u-sdb-tabs .f-tab,
.u-sdb-tabs .f-tab .i-f {
	width: 35px;
	position: relative;
	cursor: pointer
}

.u-sdb-tabs .f-tab {
	float: left;
	height: 35px;
	margin-bottom: 10px;
	text-align: center
}

.u-sdb-tabs .f-tab .i-f {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 35px;
	font-size: 18px;
	color: #fff;
	vertical-align: middle;
	z-index: 2;
	background: #333
}

.u-sdb-tabs .f-tab .tip {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 90px;
	height: 35px;
	line-height: 35px;
	background: #ccc;
	position: absolute;
	top: 0;
	left: 35px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	z-index: 1
}

.u-sdb-tabs .t-cart {
	height: 117px
}

.u-sdb-tabs .t-cart .i-f {
	line-height: 32px;
	margin-top: 3px
}

.u-sdb-tabs .t-cart .n {
	display: block;
	width: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer
}

.u-sdb-tabs .t-cart .c-num {
	min-width: 14px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 3px;
	color: #fff;
	background: #C20053;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer
}

.u-sdb-tabs .t-to-top {
	background-color: #666
}

.u-sdb-tabs .t-to-top .i-f {
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	background: url(../../images/index/fn_index.png?144220910272756) -159px -57px no-repeat #666
}

.u-sdb-tabs .f-tab:hover .i-f {
	background-color: #C70034
}

.u-sdb-tabs .t-cart:hover {
	background: #C70034
}

.u-sdb-tabs .t-cart:hover .c-num {
	background: #fff;
	color: #C20053
}

.u-sdb-tabs .t-cart-active,
.u-sdb-tabs .t-cart-active .i-f {
	background: #C20053
}

.u-sdb-tabs .t-cart-active .c-num {
	background: #fff;
	color: #C20053
}

.m-fn-siderbar .u-sdb-cont {
	width: 280px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 35px;
	background: #fff;
	border-top: 7px solid #000;
	z-index: 2
}

.u-sdb-cart,
.u-sdb-cart .sdb-c-m {
	width: 280px;
	height: 100%
}

.u-sdb-cart .mn-c-top {
	height: 39px;
	line-height: 39px;
	background-color: #E9E9E9;
	border-bottom: 1px solid #DEDEDE;
	position: relative
}

.u-sdb-cart .mn-c-top a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #333;
	font-size: 14px;
	font-weight: 700
}

.u-sdb-cart .mn-c-top i {
	width: 10px;
	height: 10px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(../../images/index/fn_index.png?144220910272756) -188px -94px no-repeat;
	position: absolute;
	top: 14px;
	right: 15px;
	cursor: pointer;
	-webkit-transition: -webkit-transform .4s ease-out;
	-moz-transition: -moz-transform .4s ease-out;
	transition: transform .4s ease-out
}

.u-sdb-cart .mn-c-top i:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg)
}

.m-fn-siderbar .u-sdb-cart .mn-c-box {
	width: 280px;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	background: #E9E9E9
}

.u-sdb-cart .mn-c-box::-webkit-scrollbar {
	width: 5px
}

.u-sdb-cart .mn-c-box::-webkit-scrollbar-track {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: transparent
}

.u-sdb-cart .mn-c-box::-webkit-scrollbar-thumb {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #666
}

.u-sdb-cart .mn-c-total {
	padding-left: 10px;
	padding-right: 10px
}

.m-sdb-sale .u-sdb-sale {
	display: block;
	width: 35px;
	height: 255px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer
}

.m-sdb-sale .u-sdb-sale a.p {
	width: 80px;
	height: 200px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -45px;
	z-index: 11
}

.m-sdb-sale .u-sdb-sale a.p-b {
	width: 360px
}

.m-sdb-sale .u-sdb-sale a.bg {
	width: 80px;
	height: 55px;
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../../images/index/fn_index.png?144220910272756) -124px 0 no-repeat
}

.m-sdb-sale .u-sdb-sale a.p-s {
	display: block
}

.m-fn-lift,
.m-sdb-sale .u-sdb-sale a.p-b {
	display: none
}

.m-sdb-sale .u-sdb-cont {
	top: 200px
}

.m-fn-lift {
	width: 33px;
	height: auto;
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin-top: -171px;
	margin-left: -640px;
	border: 1px solid #E5E5E5;
	background-color: #fff;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease
}

.m-fn-lift li,
.m-fn-lift li a {
	width: 33px;
	height: 35px;
	line-height: 35px;
	text-align: center
}

.m-fn-lift ul {
	font-size: 0;
	width: 33px
}

.m-fn-lift li {
	overflow: hidden;
	cursor: pointer;
	margin-top: -1px
}

.m-fn-lift li a {
	display: block;
	color: #999;
	font-size: 14px;
	font-family: Arial;
	margin: 0 auto;
	background: url(../../images/index/fn_index.png?144220910272756) -124px -57px no-repeat
}

.m-fn-lift li a:hover {
	color: #fff;
	text-decoration: none;
	background: #C20053
}

.m-fn-lift li .title {
	display: none;
	width: 32px;
	height: 30px;
	line-height: 13px;
	color: #fff;
	padding: 5px 0 0 1px;
	font-size: 12px
}

.m-fn-fixbar,
.m-fn-fixcont {
	width: 100%;
	top: -50px;
	z-index: 9;
	position: fixed;
	left: 0
}

.m-fn-lift li.active a {
	display: none
}

.m-fn-lift li.active .title {
	display: block;
	color: #C20053
}

.m-fn-lift li.active .title:hover {
	color: #fff
}

.m-fn-lift li.hover a,
.m-fn-lift li:hover a {
	display: none
}

.m-fn-lift li.hover .title,
.m-fn-lift li:hover .title {
	display: block;
	color: #fff
}

.m-lift-show {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.m-fn-fixbar {
	height: 50px;
	background-color: #333;
	opacity: .9;
	filter: alpha(opacity=90)
}

.m-fn-fixcont {
	height: 50px;
	box-shadow: 0 0 4px #333
}

.u-fn-fixbar {
	width: 1190px;
	height: 50px;
	line-height: 50px
}

.u-fn-fixbar .u-g-logo {
	width: 300px;
	height: 50px
}

.u-fn-fixbar .u-g-logo .logo {
	margin-top: 5px;
	*margin-top: 0
}

.u-fn-fixbar .u-g-search {
	margin-top: 6px
}

.g-opc {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 98;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50)
}

.g-abt,
.g-yds {
	left: 50%;
	z-index: 99;
	margin-left: -400px
}

.g-abt .o-im a,
.g-yds a {
	opacity: 0;
	filter: alpha(opacity=0)
}

.g-abt {
	position: absolute;
	top: 120px;
	background: #edf7fe;
	padding: 13px 16px;
	*zoom: 1;
	width: 768px;
	display: none
}

.g-abt h1 {
	position: relative;
	font: 700 18px/24px "microsoft yahei";
	height: 36px
}

.g-abt h1 a {
	position: absolute;
	right: -16px;
	top: -13px;
	background: url(../../images/index/bg-ysd.png?144220910273356) -64px 0 no-repeat;
	width: 34px;
	height: 28px
}

.g-abt .o-im,
.g-abt .o-im li {
	position: relative;
	overflow: hidden
}

.g-abt .o-im {
	width: 100%;
	height: 375px
}

.g-abt .o-im li {
	width: 100%;
	height: 100%
}

.g-abt .o-im a,
.g-yds,
.g-yds a,
.z-icon {
	position: absolute
}

.g-abt .o-in {
	width: 100%;
	text-align: center;
	height: 26px;
	margin-top: 10px
}

.g-abt .o-in li {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.g-yds {
	top: 120px
}

.g-yds a {
	display: block;
	background: #000
}

.g-yds .clo-bt {
	right: 0;
	top: 0;
	width: 34px;
	height: 27px
}

.g-yds .gn-sp {
	right: 215px
}

.g-yds .kq-cz {
	right: 144px
}

.g-yds .gn-bt {
	width: 170px;
	height: 55px;
	right: 127px;
	top: 227px
}

.g-yds .gn-sp,
.g-yds .kq-cz {
	width: 60px;
	height: 18px;
	top: 291px
}

.g-abt .o-in .lf-btn,
.g-abt .o-in .rg-btn {
	background: url(../../images/index/bg-ysd.png?144220910273356) 0 3px no-repeat;
	width: 20px;
	height: 26px;
	cursor: pointer;
	margin-right: 4px;
	*margin-right: 8px
}

.g-abt .o-in .rg-btn {
	background-position: 0 -38px
}

.g-abt .o-in .lc-btn {
	height: 26px;
	*margin-right: 4px
}

.g-abt .o-in .lc-btn i {
	background: url(../../images/index/bg-ysd.png?144220910273356) -82px -50px no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-top: 8px;
	*margin-top: 8px;
	display: block;
	float: left
}

.g-abt .o-in .lc-btn .active {
	background-position: -57px -50px
}

.g-abt .o-im a {
	background: #000;
	display: block
}

.g-abt .o-im .b-clo {
	right: 0;
	top: 0;
	width: 35px;
	height: 32px
}

.g-abt .o-im .b-card,
.g-abt .o-im .b-shop {
	top: 333px;
	width: 142px;
	height: 52px
}

.g-abt .o-im .b-card {
	right: 47px
}

.g-abt .o-im .b-shop {
	right: 195px
}

.g-abt .o-im .b-wit {
	top: 302px;
	right: 194px;
	width: 88px;
	height: 26px
}

.m-vou,
.m-vou table {
	width: 100%
}

.m-vou {
	margin-top: 15px
}

.m-vou table th {
	background: #eee;
	border: 1px solid #ddd;
	border-right: none;
	border-left: none;
	font: 400 12px/38px simsun;
	color: #6c6c6c;
	text-align: center
}

.m-vou table td {
	text-align: center;
	padding: 10px 0
}

.m-vou table tr td {
	border-bottom: 1px solid #ddd
}

.m-vou table tr:hover td {
	background: #fff8e1
}

.m-vou .t-on {
	width: 15%
}

.m-vou .t-tw {
	width: 25%
}

.z-icon {
	width: 50px;
	height: 50px;
	margin-left: 5px
}

.m-alert-ad {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 98
}

.m-alert-ad .u-alert-pic {
	width: 600px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -300px;
	z-index: 98
}

.m-alert-ad .u-alert-pic .pic {
	display: block;
	width: 600px;
	height: 600px;
	text-align: center;
	line-height: 600px;
	overflow: hidden
}

.m-alert-ad .u-alert-pic .close {
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../../images/index/alert_c.png?1442209102725) no-repeat
}

.m-alert-ad .u-alert-mask {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	z-index: 97
}

.u-g-search .s-form {
	background: url(../../images/index/nh_bg.jpg) no-repeat;
	border: none;
	height: 38px
}

.u-g-search .s-form .s-ipt {
	background: 0 0
}

.u-g-search .s-form .s-btn {
	height: 37px;
	line-height: 37px
}

.u-g-search .s-form .i-s {
	left: 15px;
	top: 9px
}

.m-nhd {
	width: 100%;
	position: relative;
	z-index: 2;
	*height: 68px
}

.m-nhd .u-nav-cg,
.m-nhd .u-nav-item {
	margin-top: 28px
}

.m-nhd .mt15,
.m-nhd .u-nav-ad {
	margin-top: 0
}

.m-nhd .m-nhjs {
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0
}

.m-nhd .m-ngmm {
	width: 1190px;
	margin: 0 auto;
	position: relative
}

.m-nhd .m-nav-bg {
	position: relative;
	width: 1322px;
	background: url(../../images/index/nh_bg2.png) no-repeat;
	height: 68px;
	top: 1px;
	left: -63px
}

.m-nhd .m-nh-hd {
	width: 100%;
	position: relative
}

.m-nhd .u-nav-ad {
	position: relative;
	z-index: 2
}

.m-nhd .u-nav-item li a,
.m-nhd .u-nav-item li a.z-h-c,
.m-nhd .u-nav-item li a:hover {
	color: #fff
}

.m-ad-nh {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 9;
	width: 356px;
	height: 454px
}

.m-nh-left {
	background: url(../../images/index/nh_bg3.jpg) no-repeat;
	margin-left: -951px
}

.m-nh-right {
	background: url(../../images/index/nh_bg4.jpg) no-repeat;
	margin-left: 595px
}

.m-more-part {
	height: 597px;
	margin-top: 10px
}

.m-more-part .tt {
	height: 157px
}

.m-more-part .u-part-cont {
	background: url(../../images/index/nh_bg6.jpg) no-repeat
}

.m-more-part .u-part-cont .ad {
	position: relative;
	margin: 0 0 10px 10px
}

.m-more-part .u-part-cont .ad .m-lnk {
	position: absolute;
	left: 0;
	top: 0;
	display: block
}

.m-more-part .u-part-cont .ad .m-ad1 {
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0)
}

.m-more-part .u-part-cont .ad .m-ad2,
.m-more-part .u-part-cont .ad .m-ad3 {
	z-index: 2;
	top: 50px;
	width: 290px;
	height: 24px
}

.m-more-part .u-part-cont .ad .m-ad3 {
	width: 210px
}

.u-g-search {
	background: 0 0!important
}